@import "../colors";

.pointer {
  cursor: pointer;
}

.button-base {
  padding: 23.5px 25px;
  width: fit-content;
  display: flex;
  align-items: baseline;
  border: none;
  cursor: pointer;

  p {
    font-weight: 800;
    font-size: 15px;
    line-height: 25px;
  }

  i {
    margin-left: 1rem;
  }
}

.button {
  @extend .button-base;
  background-color: $very-dark-blue;
  color: white;

  &:hover {
    background-color: $dark-grey;
  }
}

.button-no-bg {
  @extend .button-base;
  background-color: transparent;
  color: black;
}

.square-button {
  height: 80px;
  width: 80px;
  border: 0;
  padding: 0;
  color: $medium-grey;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: $very-light-grey;
    color: $medium-grey;
  }
}

.square-button-very-dark-blue {
  @extend .square-button;
  background-color: $very-dark-blue;
  color: white;

  &:hover {
    background-color: $very-dark-blue;
    color: white;
  }
}
