@import "../mixins";
@import "../variables";

.container {
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
}

.container-no-padding {
  @extend .container;
  padding: 0;
}

.container-no-padding {
  padding: 0;
}

@include tablet {
  .container {
    padding: 0 $left-right-container-margin;
  }
}
