@import "../colors";

$element-margin-top-sm: 32px;

.footer {
  position: relative;

  @include tablet {
    height: 120px;
    display: flex;
  }
}

.footer-logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    top: 0;
    left: 0;
    transform: none;
  }
}

.footer-logo p {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -4px;
}

.footer-main-container {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: $very-light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 0;
    padding-left: 120px;
    width: 100%;
    flex-direction: row;
  }
}

.footer-main-container ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  color: $medium-grey;

  @include tablet {
    display: flex;
    width: 80%;
  }
}

.footer-main-container li:not(:first-child) {
  margin-top: $element-margin-top-sm;

  @include tablet {
    margin-top: 0;
  }
}

.footer-button-container {
  margin-top: $element-margin-top-sm;

  @include tablet {
    margin-top: 0;
    position: absolute;
    right: 5%;
  }
}

@include tablet {
  .footer-main-container li {
    margin-left: 50px;
  }
}
