@import "../mixins";
@import "../typography";
@import "../colors";

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 501;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  @extend .h3;
  letter-spacing: -4px;
}

.menu {
  margin: 0;
  width: 300px;
  height: 200px;
  background: $very-light-grey;
  display: initial;
  position: fixed;
  z-index: 501;
  top: 57px;
  right: -22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 1s ease-in-out;

  li {
    list-style: none;
    font-weight: bold;
  }
}

.animate-menu {
  transform: translateX(-22rem);
}

.dark-overlay {
  width: 100%;
  height: calc(100% - 57px);
  position: fixed;
  z-index: 500;
  top: 57px;
  left: 0;
  z-index: 50;
  background-color: #1b1d23a3;
  display: none;
  transition: all 0.3s;
}

.animate-overlay {
  display: initial;
}

.hamburger {
  height: 10px;
  width: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger div {
  height: 2px;
  width: 100%;
  background-color: black;
}

@include tablet {
  .nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: flex-start;
    position: relative;
    z-index: initial;
  }

  .nav-title {
    font-size: 26px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    padding: 0;
    padding-left: 3rem;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    flex-direction: row;
    position: initial;

    li {
      padding: 0 2rem;
      font-weight: 500;
    }
  }

  .dark-overlay {
    display: none;
  }
}
