@import "./mixins";
@import "./colors";

$font-weight-thin: 100;
$font-weight-med: 500;
$font-weight-bold: 800;

body {
  font-family: "Spartan", sans-serif;
  font-weight: $font-weight-med;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
}

.h1-large {
  font-weight: $font-weight-bold;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}

.h1-bold {
  font-weight: $font-weight-bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.2px;
}

.h2 {
  font-weight: $font-weight-bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2px;
}

.h3 {
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
}

h3 {
  @extend .h3;
}

.white-text {
  color: white;
}

.medium-grey-text {
  color: $medium-grey;
}

@include tablet {
  .h1-bold {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2px;
  }
}
