@import "mixins";
@import "colors";
@import "variables";
.hero-dark-overlay {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1b1d235e;
}

.primary-hero {
  margin-top: $navbar-height;
  min-height: 600px;
  position: relative;
  background-image: url("../assets/home/mobile/image-hero-paramour.jpg");
  background-size: cover;
}

.primary-hero .hero-content {
  display: none;
}

.hero-content h1 {
  font-weight: 500;
}

.hero-content .hero-description {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: white;
}

.hero-pagination {
  display: none;
}

// WELCOME ===============================================================

.welcome {
  margin-top: 6rem;
  position: relative;
}

.welcome .welcome-large-text {
  display: none;
}

.welcome-content-left h2 {
  width: 16rem;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.43px;
}

.welcome-content-left p {
  margin: 1rem 0;
  color: $dark-grey;
}

.welcome-content-right {
  display: none;
}

// SECONDARY HERO ===============================================================
.secondary-hero {
  margin-top: 6rem;
  height: 560px;
  background-image: url("../assets/home/mobile/image-small-team.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.secondary-hero .hero-content {
  display: inline;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 20;
}

.secondary-hero .hero-content button {
  margin-top: 2rem;
}

// Featured ===============================================================
.featured {
  padding-bottom: 5rem;
  margin-top: 4rem;
  margin-bottom: 130px;
  position: relative;
}

.featured-cards-container {
  margin-bottom: 24px;
}

.featured-header button {
  position: absolute;
  justify-content: center;
  width: calc(100% - 4rem);
  bottom: 0;
}

.featured-card {
  margin-top: 2rem;
  height: 240px;
  background-size: cover;
  position: relative;
}

.featured-card.featured-1 {
  background-image: url("../assets/portfolio/mobile/image-del-sol.jpg");
}
.featured-card.featured-2 {
  background-image: url("../assets/portfolio/mobile/image-228b.jpg");
}
.featured-card.featured-3 {
  background-image: url("../assets/portfolio/mobile/image-prototype.jpg");
}

.featured-card h1 {
  display: none;
}

.featured-card .linear-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.500437675070028) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.featured-card-text {
  position: absolute;
  z-index: 50;
  color: white;
  bottom: 2rem;
  left: 2rem;
}

@include tablet {
  .primary-hero {
    margin-top: 0;
    background-image: url("assets/home/tablet/image-hero-paramour.jpg");
  }

  .primary-hero .hero-description {
    width: 29rem;
  }

  .primary-hero .hero-content {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 20;
  }

  .welcome {
    margin-top: 4rem;
  }

  .welcome .welcome-large-text {
    display: inline;
    font-size: 120px;
    color: $very-light-grey;
  }

  .secondary-hero {
    background-image: url("../assets/home/tablet/image-small-team.jpg");
  }

  .secondary-hero .hero-content h1 {
    max-width: 22rem;
    font-size: 56px;
    line-height: 56px;
  }

  .featured {
    margin-top: 12rem;
  }

  .featured-card.featured-1 {
    background-image: url("../assets/portfolio/tablet/image-del-sol.jpg");
  }
  .featured-card.featured-2 {
    background-image: url("../assets/portfolio/tablet/image-228b.jpg");
  }
  .featured-card.featured-3 {
    background-image: url("../assets/portfolio/tablet/image-prototype.jpg");
  }

  .featured-card h1 {
    display: initial;
    color: #ffffffb3;
    position: absolute;
    right: 0;
    top: 1rem;
    letter-spacing: 0;
  }

  .featured-header {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
  }

  .featured-header button {
    height: fit-content;
    width: 7rem;
    position: initial;
    padding: 12px 1rem;
  }
}

@include desktop {
  .primary-hero {
    background-image: url("../assets/home/desktop/image-hero-paramour.jpg");
  }

  .hero-content {
    padding-left: 190px;
  }

  .hero-pagination {
    display: inline;
    width: fit-content;
    display: flex;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: -80px;
  }

  .welcome .welcome-large-text {
    position: absolute;
    top: -7rem;
    font-size: 200px;
  }

  .welcome {
    margin-top: 14rem;
  }

  .welcome .welcome-content {
    display: flex;
    justify-content: space-between;
  }

  .welcome-content-left {
    margin-left: 14rem;
    padding-top: 4rem;
    width: 450px;
  }

  .welcome-content-right {
    width: 350px;
    height: 568px;
    display: inline;
    background-image: url("../assets/home/desktop/image-welcome.jpg");
  }

  .secondary-hero {
    background-image: url("../assets/home/desktop/image-small-team.jpg");
    background-size: cover;
  }

  .secondary-hero.hero {
    margin-top: 6rem;
  }

  .featured-cards-container {
    display: flex;
    justify-content: space-between;
  }

  .featured-card {
    height: 560px;
    width: 350px;
  }

  .featured-card.featured-1 {
    background-image: url("../assets/portfolio/desktop/image-del-sol.jpg");
  }
  .featured-card.featured-2 {
    background-image: url("../assets/portfolio/desktop/image-228b.jpg");
  }
  .featured-card.featured-3 {
    background-image: url("../assets/portfolio/desktop/image-prototype.jpg");
  }
}
